<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>



    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
      background-image: url('/assets/images/shipping.jpg');
      height: 600px;
      ">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3" style="text-shadow: 2px 2px 2px black;">shipping
              solution</h1>
            <a class="btn btn-outline-light btn-lg" routerLink="/contact"
              role="button"><h6>GET
                A PROPOSAL</h6></a>
          </div>
        </div>
      </div>
      <div class="custom-shape-divider-bottom-1675066310">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0
          1200 120" preserveAspectRatio="none">
          <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z"
            class="shape-fill"></path>
        </svg>
      </div>
    </div>
    <!-- Background image -->



    <div class="container mt-5">

      <h1 class="text-center fw-bolder ">How it Works?</h1>


      <div class="row">
        <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color"
              data-color="blue" data-radius="none">
              <div class="content">
                <img class="" alt="avatar1" src="/assets/images/1.ship.png"
                  width="90%"/>
                <h4 class="title">1. Choose your shipment</h4>
                <p class="description">Import all your orders with automated
                  channel sync and select the shipment. </p>
              </div>
            </div> <!-- end card -->
          </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color"
              data-color="green" data-radius="none">
              <div class="content">
                <img class="" alt="avatar1" src="/assets/images/2.ship.png"
                  width="90%"/>
                <h4 class="title">2. Select courier partner</h4>
                <p class="description">Based on your requirement select a
                  courier partner </p>
              </div>
            </div> <!-- end card -->
          </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color"
              data-color="yellow" data-radius="none">
              <div class="content">
                <img class="" alt="avatar1" src="/assets/images/3.ship.png"
                  width="90%"/>
                <h4 class="title">3. Pack and ship</h4>
                <p class="description">Pack your orders, print labels and hand
                  it over to the courier partner </p>
              </div>
            </div> <!-- end card -->
          </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">

        </div>

        <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color"
              data-color="brown" data-radius="none">
              <div class="content">
                <img class="" alt="avatar1" src="/assets/images/4.ship.png"
                  width="90%"/>
                <h4 class="title">4. Track</h4>
                <p class="description">Track the order and keep your customers
                  informed via SMS and email notifications </p>
              </div>
            </div> <!-- end card -->
          </div>
        </div>
      </div>

    </div>


    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6">

          <img src="/assets/images/e comm new.avif" alt="" width="100%">
        </div>
        <div class="col-md mt-4">

          <h1 class="text-center fw-bold" style="font-family: 'Times New Roman', Times, serif;">What is E-commerce shipping solution?</h1>

          <p class="text-center fw-bold h5" style="font-family: 'Times New Roman', Times, serif;">An E-commerce shipping solution provides you an automated way to manage your order fulfillment, logistics, and shipping operations.<br> <br>Implementing the right eCommerce shipping solution, you can make your order fulfillment process simple and cost-effective to achieve faster deliveries and delighting customers.</p>
        </div>
      </div>
    </div>

  </body>
</html>
