  <!-- navbar start -->
  <nav class="navbar navbar-expand-md  fixed-top" style="background-color: #f5f5f5;">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <img src="/assets/images/final logo.png" alt="" height="60px" width="60px">
        <div class="navbar-nav">
          <a class="nav-link text-dark" aria-current="page" routerLink="home">Home</a>


          <li>
            <a class="nav-link text-dark" aria-current="page" routerLink="about">About Us</a>
          </li>
          <li>
            <a class="nav-link text-dark" aria-current="page" routerLink="contact">Contact Us</a>
          </li>
          <li>
            <a class="nav-link text-dark" aria-current="page" href="https://anikaay.com/">Blog</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-dark"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              Our Services
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="nav-link  text-dark" routerLink="webdevelopment">WebDevelopment</a>
              </li>
              <li>
                <a class="nav-link  text-dark" routerLink="webdesign">WebDesign</a>
              </li>
              <li>
                <a class="nav-link  text-dark" routerLink="graphic">Graphic-Design</a>
              </li>
              <li>
                <a class="nav-link  text-dark" routerLink="digital-marketing">Digital-Marketing</a>
              </li>
              <li>
                <a class="nav-link  text-dark" routerLink="ecommerce">E-commerce</a>
              </li>
              <li>
                <a class="nav-link  text-dark" routerLink="SEO"><abbr title="Search Engine Optimization">SEO</abbr></a>

              </li>
              <li>
                <a class="nav-link  text-dark" routerLink="cms"><abbr title="Content Management System">CMS</abbr></a>

              </li>
              <li>
                <a class="nav-link  text-dark" routerLink="crm"><abbr title="customer relationship management">CRM</abbr></a>

              </li>

              <li>
                <a class="nav-link  text-dark" routerLink="payment">PaymentGateway</a>

              </li>
              <li>
                <a class="nav-link  text-dark" routerLink="shiping">ShippingSolution</a>

              </li>


            </ul>

          </li>
        </div>
      </div>
    </div>
  </nav>
  <!-- navbar ends -->
