<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #ede7f6c2;">
      <!-- Grid container -->
      <div class="container-fluid p-4 pb-0">
        <!-- Section: CTA -->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md mt-2">
                <h6 class="text-center text-dark  display-6 fw-bolder">Stay Connected</h6>
                <p class="mt-4"><img src="/assets/images/globe.png" alt="" height="50px" width="50px"><a href="https://anikaay.com/" class="text-dark fw-bold"><br>www.anikaay.com</a> </p>
              </div>
              <!-- <div class="col-md">

                <p><img src="/assets/images/mail.png" alt="" height="50px" width="50px"><br><a href="mailto:anikay.com" class="text-dark">Send email</a></p>

              </div> -->

              <div class="col-md">
                <p class="text-center text-dark  display-6 fw-bolder">Say Hello</p>
                <p><img src="/assets/images/call.png" alt="" height="50px" width="50px"><br>
                    <a href="tel:+91 7378494787" class="text-dark fw-bold">+91 8355994302</a><br>
                    <a href="tel:+91 7559436583 " class="text-dark fw-bold">+91 7559436583 </a><br>
                    <a href="tel:+91 8983222314" class="text-dark fw-bold">+91 8788578059</a>
                </p>

              </div>
              <div class="col-md">
                <p class="text-center text-dark display-6 fw-bolder">Let's Meet</p>
                <p><img src="/assets/images/location.png" alt="" height="50px" width="50px"><a href="https://goo.gl/maps/PJ9DQF1VzR7Vn77R7" class="text-dark fw-bold"><br>306, 3rd Floor, Kumar Primus, Hadapsar, Pune 411013</a></p>
              </div>
            </div>
        </div>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->

    </footer>
    <!-- Footer -->
  </section>
