.custom-shape-divider-bottom-1674812254 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1674812254 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 88px;
}

.custom-shape-divider-bottom-1674812254 .shape-fill {
  fill: #FFFFFF;
}

.bg-image{
  border: #FFFFFF;
}
