
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>


<div
class="p-5 text-center bg-image mb-5"
style="
  background-image: url('/assets/images/contact5.webp');
  height: 600px;
  margin-top: 58px;
"
>
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3 display-3 mt-5">Let’s make something great together!</h1>


    </div>
  </div>
</div>

<div class="custom-shape-divider-bottom-1674812254">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
  </svg>
</div>
</div>
<br><br><br>

    <div class="container mt-4">
      <div class="card " style="background-color: black;">

        <div class="card-body">
          <div class="container " style="margin-top: 50px;">


            <div class="container ">
              <h2 class="card-title text-center  mb-5 fw-bolder text-light">SEND MESSAGE</h2>

              <!-- <form [formGroup]="reactiveForm" (ngSubmit)="submitForm()">

                <div class="row">
                  <div class="col-md">
                   
                <div class="form-outline mb-4">
                  <h4 class="text-light">Name</h4>
                  <input type="text" formControlName="name" placeholder="Name" class="form-control border border-light" />
                  
                </div>

                  </div>
                  <div class="col-md">
                  
                <div class="form-outline mb-4">
                  <h4 class="text-light">Email</h4>
                  <input type="email" formControlName="email" placeholder="Email"  class="form-control border border-light"
                    />

                </div>

                  </div>
                </div>



                <div class="row">
                  <div class="col-md">
                    
                <div class="form-outline mb-4">
                  <h4 class="text-light">Phone
                    Number</h4>
                  <input type="text" formControlName="phone" placeholder="phone"
                    formControlName="phone" class="form-control border border-light"
                    />
                  
                </div>
                  </div>
                  <div class="col-md">
                 
                <div class="form-outline mb-4">
                  <h4 class="text-light">Service</h4>
                  <input type="service"  name="service"
                    formControlName="service" class="form-control border border-light"
                    />
                  
                </div>
                  </div>
                </div>
              
                <div class="form-outline mb-4">
                  <h4 class="text-light">Message</h4>
                  <textarea class="form-control border border-light" name="message" formControlName="message"  rows="4"></textarea>
                 
                </div>


                

               
                <button type="submit" class="btn btn-primary btn-block mb-4 mt-3"
                  >Send</button>
              </form> -->
              <form [formGroup]="form" (ngSubmit)="submitForm()">

                <div class="form-outline mb-4">
                  <h4 class="text-light">Name</h4>
                  <input type="text" formControlName="name" placeholder="Name" class="form-control border border-light text-light">

                </div>
               
              
                <div class="form-outline mb-4">
                  <h4 class="text-light">Email</h4>
                  <input type="email" formControlName="email" placeholder="Email" class="form-control border border-light text-light">
                
                </div>
               
                <div class="form-outline mb-4">
                  <h4 class="text-light">Phone Number</h4>
                  <input type="text"  name="service"
                    formControlName="phone" class="form-control border border-light text-light"
                    />
                  
                </div>

                <div class="form-outline mb-4">
                  <h4 class="text-light">Service</h4>
                  <input type="service"  name="service"
                    formControlName="service" class="form-control border border-light text-light"
                    />
                  
                </div>

                <!-- <div class="form-outline mb-4">
                  <h4 class="text-light">Message</h4>
                  <textarea formControlName="message" placeholder="Message"></textarea>
                </div> -->
               
                <div class="form-outline mb-4">
                  <h4 class="text-light">Message</h4>
                  <textarea class="form-control border border-light text-light" name="message" formControlName="message"  rows="4"></textarea>
                 
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>






    <div class="container-fluid mt-5">
      <div class="container " style="margin-top: 150px;">
        <div class="row mt-5">
          <h1 class="display-3 text-center fw-bolder" >FIND US ON GOOGLE MAP</h1>
          <div class="container ms-1">
            <div class="row">
              <div class="col-md-6">
                <h3 class="mt-5"><b>Hello!</b></h3>
                <p class="text-dark mt-1" style="font-family: Verdana, Geneva,
                  Tahoma,
                  sans-serif;font-weight: 600;">Got a question, project, or
                  crazy idea?<br>
                  Lets talk about it over a cup of coffee
                </p>

                <img src="/assets/images/flag.webp" height="80px" width="90px">
                <h3><b>India</b></h3>
                <p><a href="https://goo.gl/maps/HpccBeNCfBBkz3ZM8"
                    class="text-dark"><b>Address: 306, 3rd Floor, Kumar Primus,
                      Pune, Maharashtra
                      411001</b></a></p>
              </div>
              <div class="col-md-6 ms-0">

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d121071.88279917471!2d73.84363123368512!3d18.506459714282073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bc2c1c7bc848cc5%3A0xc6c51f3b562d30bd!2s306%2C%203rd%20Floor%2C%20Kumar%20Primus%2C%20Pune%2C%20Maharashtra%20411001!3m2!1d18.5064726!2d73.9136717!5e0!3m2!1sen!2sin!4v1670582383137!5m2!1sen!2sin"
                  width="320" height="300" style="border:0;" allowfullscreen=""
                  loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                  class="mt-4">
                </iframe>
              </div>

              <div class="col-md mt-4">
                <h5 class="card-title">MOBILE NUMBER</h5>
                <p class="card-text">
                  <a href="tel:+91 7378494787" class="text-dark">+91
                    7378494787</a><br>
                  <a href="tel:+91 7559436583 " class="text-dark">+91
                    7559436583 </a><br>
                  <a href="tel:+91 8983222314" class="text-dark">+91
                    8983222314</a>
                </p>


                <div class="row mb-5">
                  <div class="col-md">
                    <h5 class="card-title">EMAIL ADDRESS</h5>
                    <p class="card-text">
                      <a href="mailto:info@anikaay.com" class="text-dark">info@anikaay.com</a>
                    </p>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>




  </body>
</html>
