<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<!-- Background image -->
  <div
  class="p-5 text-center bg-image"
  style="
    background-image: url('/assets/images/web\ design\ new.jpg');
    height: 600px;border: 50% solid white;"
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mt-5 mb-3 text-light "style="font-weight:600;font-size:2.2em;font-family:'Times New Roman', Times, serif;text-shadow:2px 2px 2px black;">Are you in search of the best Web Design Company?.</h1>
        <a class="btn btn-outline-light btn-lg" routerLink="/contact"  role="button"
        ><h6>GET
          A PROPOSAL</h6> </a
        >
      </div>
      <div class="custom-shape-divider-bottom-1674806872">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>
    </div>

  </div>

</div>
<!-- Background image -->


      <div class="container mt-4">
        <div class="row">
          <div class="col-md">
            <h1 class="text-center note note-warning" style="font-family: 'Times New Roman', Times, serif;">Looking for a responsive web design for your business or brand</h1>
            <p class="text-center fw-bolder" style="font-family: 'Times New Roman', Times, serif;font-size: larger;">we understand the need of having a responsive website for your business. Keeping your business needs, goals and aspirations in mind, we design and develop the best website for you. To cut a long story short, it is our job to make sure that your website reaches your targeted audience and sells your products and services in the right way.</p>
          </div>
        </div>
      </div>


      <div class="container">
        <div class="row mt-5 mb-5">
          <div class="col-md-5">
            <img src="/assets/images/web d.jpg" alt="" height="100%" width="100%" class="img">
          </div>
          <div class="col-md mt-5">
            <div class="row">
              <div class="col-md">
                <h1  class="note note-success"  style="font-family: 'Times New Roman', Times, serif;">Responsive Wesite Design</h1>
                <p style="font-family: 'Times New Roman', Times, serif;font-size: larger;" class="text-center fw-bolder" >Our experts will create exceptional mobile friendly websites that will not only keep your customers engaged but also retain them. Websites designed and developed by us will seamlessly scale across most mobile devices</p>
              </div>
              <div class="row">
                <div class="col-md">
                  <h1  class="note note-success"  style="font-family: 'Times New Roman', Times, serif;">Ecommerce Website Design</h1>
                  <p style="font-family: 'Times New Roman', Times, serif;font-size: larger;" class="text-center fw-bolder" > Through our creative eCommerce designs, we ensure that a user is able to easily locate a product, add it to the cart and complete the transaction like a breeze.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container mb-5">
        <div class="row">
          <div class="col-md">

           <div class="row">
            <div class="col">
              <h3  class="note note-success" style="font-family: 'Times New Roman', Times, serif;">Custom Website Design</h3>
              <p style="font-family: 'Times New Roman', Times, serif;font-size: larger;" class="text-center fw-bolder" >
                We custom design banners and layouts for your website that catches eyes
              </p>
            </div>
           </div>

           <div class="row">
            <div class="col">
              <h3  class="note note-success" style="font-family: 'Times New Roman', Times, serif;">Search Engine Friendly</h3>
              <p style="font-family: 'Times New Roman', Times, serif;font-size: larger;" class="text-center fw-bolder" >
                Get your website search engine optimized
              </p>
            </div>
           </div>

           <div class="row">
            <div class="col">
              <h3  class="note note-success" style="font-family: 'Times New Roman', Times, serif;">Mobile Responsive Design</h3>
              <p style="font-family: 'Times New Roman', Times, serif;font-size: larger;" class="text-center fw-bolder" >
                Get your website rendering on variety of devices and windows that adapts to users devices
              </p>
            </div>
           </div>

           <div class="row">
            <div class="col">
              <h3 class="note note-success" style="font-family: 'Times New Roman', Times, serif;">Custom Website Design</h3>
              <p style="font-family: 'Times New Roman', Times, serif;font-size: larger;" class="text-center fw-bolder" >
                We custom design banners and layouts for your website that catches eyes
              </p>
            </div>
           </div>

           <div class="row ">
            <div class="col">
              <h3 class="note note-success" style="font-family: 'Times New Roman', Times, serif;">Enquiry forms</h3>
              <p style="font-family: 'Times New Roman', Times, serif;font-size: larger;" class="text-center fw-bolder" >
                Integrate enquiry forms for your potential customers to reach up to you.
              </p>
            </div>
           </div>

          </div>
          <div class="col-md-5">
            <img src="/assets/images/web d2.jpg" alt="" height="100%" width="100%" class="img">
          </div>
        </div>
      </div>














</body>
</html>
