<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>


  <div
  class="p-5 text-center bg-image"
  style="
    background-image: url('/assets/images/dm\ new\ bg.jpg');
    height: 600px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white mt-5">
        <!-- <h6 class="mt-5 mb-3"  style="color:#c5c2c2;font-weight:600;font-size:6vw;font-family:'Times New Roman', Times, serif;text-shadow:2px 2px 2px black" >Digital Marketing Services </h6> -->
        <h6 class="mb-3 mt-5"   style="color:#e1dede;font-weight:600;font-size:2.8em;font-family:'Times New Roman', Times, serif;text-shadow:2px 2px 2px black">Digital Marketing Makes A Great Brand  </h6>
        <a class="btn btn-outline-light btn-lg" routerLink="/contact" role="button"
        > <h6>GET
          A PROPOSAL</h6>  </a
        >
      </div>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1674816460">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
</div>
</div>
<!-- Background image -->


    <div class="container mt-5">
      <div class="row">
        <div class="col-md">
          <h1 style="font-family: 'Times New Roman', Times, serif; ">Digital Marketing</h1>
          <p class="h5 fw-bolder" style="font-family: 'Times New Roman', Times, serif;">
            Digital marketing is a broad term that includes many different
            platforms for promoting your business to interested customers
            through online mediums. The era is more likely adapted to digital
            and so every business is with it. Bringing business online has
            benefits for a long – time.
            <br>  <br>
             The online platform of your business can
            be boosted by the implementation of digital marketing strategies
            that is done by working on various factor-like Search Engine
            Optimization i.e the practice of improving your business ranking on
            search engine pages(Google, Bing, etc) to increase traffic. Social
            Media Marketing is the practice of using social media platforms for
            the promotion of your products & services.
            <br>  <br>
            Pay Per Click (PPC) is a
            method of bringing genuine customers to your business by running
            advertising and campaigns on various search engines like Google,
            Bing, etc. Content Marketing. Content marketing Refers to the
            publishing & distribution of Text, Video, Audio to your customer by
            blogs, video, podcasts, etc.</p>
        </div>
        <div class="col-md-5">
          <img src="/assets/images/DM.jpeg" alt="" height="100%" width="80%" style="box-shadow: 8px 8px 8px grey;border:1px solid black;">
        </div>
      </div>
    </div>

    <div class="container">
      <h1 class="display-6 mt-4 mb-4 text-center text-dark" style="font-family: 'Times New Roman', Times, serif;">Advantages of
        Digital Marketing </h1>

    </div>

    <div class="container mb-5">
      <div class="row">
        <div class="col-md">
            <div class="card text-center mb-4" style="background-color: rgb(178, 235, 216);">
                <div class="card-header text-center"><h1 style="font-family: 'Times New Roman', Times, serif;">Brand Recognition</h1></div>
                <div class="card-body">
                  <p class=" text-center txt " style="font-family: 'Times New Roman', Times, serif;">The Major benefit of graphic designing for the business is that it
                    helps to establish a unique identity of the brand which is a reflection of your company’s perception in the markets</p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card text-center mb-4" style="background-color: rgb(165, 186, 231);">
                <div class="card-header text-center"><h1>User Experience</h1></div>
                <div class="card-body">
                  <p class=" text-center txt" style="font-family: 'Times New Roman', Times, serif;">Well design graphic pictures can easily pass on information or
                    message about the product and services of the brand which increases
                    user experience.</p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md">
            <div class="card text-center mb-4" style="background-color: rgb(231, 207, 240);">
                <div class="card-header text-center"><h1 style="font-family: 'Times New Roman', Times, serif;">Build Trust & Goodwill</h1></div>
                <div class="card-body">
                  <p class=" text-center txt" style="font-family: 'Times New Roman', Times, serif;">A proper design or identification helps in building trust &
                    convincing the buyers about the quality product & services. Good
                    graphic design conveys a good presentation of your business &
                    convence the customers.</p>
                </div>
            </div>
        </div>
        <div class="col-md">
          <div class="card text-center mb-4" style="background-color: rgb(159, 235, 143);">
            <div class="card-header text-center"><h1 style="font-family: 'Times New Roman', Times, serif;">Higher Conversation</h1></div>
            <div class="card-body">
              <p class=" text-center txt" style="font-family: 'Times New Roman', Times, serif;">Professional and effective
                <br>graphic designing can give footfall and traffic to a business or brand where<br> it will also help to increase the chances of conversion.</p>
            </div>
        </div>
        </div>
      </div>
    </div>




  </body>
</html>
