<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


        <!-- Background image -->
  <div
  class="p-5 text-center bg-image"
  style="
    background-image: url('/assets/images/web\ development3.jpg');
    height: 600px;
    margin-top: 58px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <span> <p style="color:#dedcdc;font-weight:600;font-size:2.5em;font-family:'Times New Roman', Times, serif;text-shadow: 4px 4px 4px rgb(8, 8, 8);"><span>Web Development </span>Company In Pune.</p></span>
        <a class="btn btn-outline-light btn-lg" routerLink="/contact"  role="button"
        ><h5>GET
          A PROPOSAL</h5></a
        >
      </div>
    </div>
    <div class="custom-shape-divider-bottom-1674636150">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" >
          <path d="M602.45,3.86h0S572.9,116.24,281.94,120H923C632,116.24,602.45,3.86,602.45,3.86Z" class="shape-fill" ></path>
      </svg>
  </div>
  </div>
</div>
<!-- Background image -->

      <div class="container">
        <div class="row mt-5">
          <div class="col-md">
            <h1 class="text-xl display-4" style="font-family: 'Times New Roman', Times, serif;">Website Development</h1>
            <p class="txt" ><b>
              In the digital revolution, a website is vital for your business. If you have a business and not a website you are probably losing your prestigious clients. Website development can differ from developing an E-Commerce website or designing a simple promotion website. A website can be static or dynamic, static websites are websites with the fixed code. It delivered to a user exactly the way its design indicates that nothing will be changed on a web page by the user or site administrator unless its redesign. It’s the basic kind of website created by using coding languages such as HTML, CSS, JavaScript which doesn’t require any server-side.
            </b>
              <br>
            </p>
            <p  class="txt" >
              <b>
                Developing a website for your business transforms you from traditional to digital, it moreover brings your business to an online platform that is accessible to a global audience. The website comprises your business information, details of product & service this information exchange helps to earn the earned credibility of customers. With a well-developed website, a marketing strategy like SEO and Paid Ads can be performed and help you to rank on the google search page
              </b>
            </p>
          </div>
          <div class="col-md-4 ms-1">
           <img src="/assets/images/web development2.jpg" alt="" height="70%" width="90%" class="mt-5">
          </div>
        </div>
      </div>


      <div class="container-fluid" style="background-color:rgb(215, 218, 221) ;">
        <br><br>
        <h1 class="text-center mt-5 mb-5"><b>Type Of Website</b></h1>
        <div class="container ">
        <div class="row mt-5">
          <div class="col-md">
            <img src="/assets/images/e-comerce web devlop.svg" alt="Trendy Pants and Shoes" class="img-fluid rounded-start img" />
          </div>
          <div class="col-md mt-3">
            <h2 class="card-title"  style="font-family: 'Times New Roman', Times, serif;">E-Commerce</h2>
                    <p class="card-text " style="font-size: 20px;font-family:'Times New Roman', Times, serif, 'Lucida Sans', Arial, sans-serif;">
                      The main motive to create an E-commerce website is maintaining a good relationship between business to customer (B2C)and business to business (B2B).
                    </p>
                    <div class="btn btn-dark center rounded-pill mb-4"><a href="mailto:info@anikaay.com" class="text-light">Mail Us</a></div>


          </div>
          <div class="col-md">
            <img
            src="/assets/images/informative web develop.svg"
            alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start img"
          />
          </div>
          <div class="col-md">
            <h2 class="card-title mt-4"  style="font-family: 'Times New Roman', Times, serif;">Informative</h2>
                    <p class="card-text" style="font-size: 20px;font-family:'Times New Roman', Times, serif, 'Lucida Sans', Arial, sans-serif;">
                      Businesses planning to make their digital presence can develop an informative website. This can be developed by using free CMS like WordPress or Wix. Or by a coding base normal static website.
                    </p>
                    <div class="btn btn-dark center rounded-pill mb-2"><a href="mailto:info@anikaay.com" class="text-light">Mail Us</a></div>

          </div>
        </div>


        <div class="row mt-4">
          <div class="col-md mb-5">
            <img
            src="/assets/images/Blogging web develop.svg"
            alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start img"
          />
          </div>
          <div class="col-md mb-5">
            <h2 class="card-title"  style="font-family: 'Times New Roman', Times, serif;">Blogging</h2>
                    <p class="card-text" style="font-size: 20px;font-family:'Times New Roman', Times, serif, 'Lucida Sans', Arial, sans-serif">
                      A blog website can be created either by developing, but  mostly is preferred by WordPress as bloggers mainly equate with re-editing, writing, and design content.
                    </p>
                    <div class="btn btn-dark center rounded-pill"><a href="mailto:info@anikaay.com" class="text-light">Mail Us</a></div>

          </div>
          <div class="col-md mb-5">
            <img
                    src="/assets/images/portfolio web develop.svg"
                    alt="Trendy Pants and Shoes"
                    class="img-fluid rounded-start img"
                  />
          </div>
          <div class="col-md mb-5">
            <h2 class="card-title"  style="font-family: 'Times New Roman', Times, serif;">Portfolio</h2>
                    <p class="card-text" style="font-size: 20px;font-family:'Times New Roman', Times, serif, 'Lucida Sans', Arial, sans-serif">
                      A portfolio website is a freelancer website that indicates their work and experience in the website in the most beautiful way. This kind of website is designed or developed to showcase work.</p>
                      <div class="btn btn-dark center rounded-pill"><a href="mailto:info@anikaay.com" class="text-light">Mail Us</a></div>

          </div>
        </div>
      </div>
      </div>





      <div class="container-fluid mb-5">
        <div class="row mt-5">
          <div class="col-md-4" style="background-color:rgb(209, 209, 245) ;">
            <h1 class="text-center  text-dark" style="font-family:'Times New Roman', Times, serif ;text-shadow:2px 2px 2px white;color:black;"><br><br><br>
              <span class="" style="font-size:1.5em;font-family:'Times New Roman', Times, serif, 'Lucida Sans', Arial, sans-serif" >BENEFITS OF WEBSITE DEVELOPMENT</span>


            </h1>
          </div>
          <div class="col">

            <div class="row" style="background-color:rgb(215, 218, 221) ;">
              <div class="col-md mt-4">
                <h2 class="text-dark" style="font-family: 'Times New Roman', Times, serif;">24/7 Accessibillity</h2>
                <p class="text-dark texts"  style="font-family:'Times New Roman', Times, serif, 'Lucida Sans', Arial, sans-serif">A website is developed to make its business visible in the eye of its ideal clients. The website allows your customer to navigate your business 24X7, It gives detailed information about your product & services. Customers can avail of this information and make their purchase decisions.</p>
              </div>
              <div class="col-md mt-4">
                <h2 class="text-dark"  style="font-family: 'Times New Roman', Times, serif;">Freedom for Optimization</h2>
                <p class="text-dark texts" style="font-family:'Times New Roman', Times, serif, 'Lucida Sans', Arial, sans-serif">Web development allows the freedom to edit its section as per requirement. Its title, description, Heading Tags, etc can be optimized as per google algorithms for SEO output. This Optimization allows google bots to crawl the website for ranking purposes.</p>
              </div>
            </div>

            <div class="row" style="background-color:rgb(215, 218, 221) ;">
              <div class="col-md mb-4">
                <h2 class="text-dark"  style="font-family: 'Times New Roman', Times, serif;">Better Google Ranking</h2>
                <p class="text-dark texts" style="font-family:'Times New Roman', Times, serif, 'Lucida Sans', Arial, sans-serif">A responsive website can be optimized by following all SEO guidelines and help your business to rank better on search engines. This ranking factor can give your business more relevant traffics in your local area as well as global.</p>
              </div>
              <div class="col-md mb-4">
                <h2 class="text-dark"  style="font-family: 'Times New Roman', Times, serif;">Minimize your Bounce Rate</h2>
                <p class="text-dark texts" style="font-family:'Times New Roman', Times, serif, 'Lucida Sans', Arial, sans-serif">A well-developed website comes with clear
                  information about who you are, what you do, etc. This detailed information helps the audience to navigate to all web pages and seek information that automatically minimizes your website bounce rate.</p>
              </div>
            </div>

          </div>
        </div>
      </div>







</body>
</html>
