<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


 <div
 class="p-5 text-center bg-image"
 style="
   background-image: url('/assets/images/GD\ new\ bg.jpg');
   height: 600px;
 "
>
 <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
   <div class="d-flex justify-content-center align-items-center h-100">
     <div class="text-white">
      <p style="color:#f7f5f5;font-weight:600;font-size:2.5em;font-family:'Times New Roman', Times, serif;" class="text-center h6 mt-5"><span>Graphic Designing Services <br> Great Design Makes A Great Brand</span><br></p>
       <a class="btn btn-outline-light btn-lg" routerLink="/contact" role="button"
       ><h6>GET
        A PROPOSAL</h6></a
       >
     </div>
   </div>
   <div class="custom-shape-divider-bottom-1674637043">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
    </svg>
</div>
 </div>
</div>
<!-- Background image -->


      <div class="container mt-5">
        <div class="row">
            <div class="col-md">
                      <h1 class="card-title display-6 text-dark fw-bolder" style="font-family: 'Times New Roman', Times, serif;"><b>Graphic-Designing</b></h1>
                      <p class=" h5 mt-3 fw-bolder" style="font-family: 'Times New Roman', Times, serif;">Design is one of the most important factors that play a vital role to build your brand. The design is what sets you different and highlights you amongst your competitors.In general, good design has simply the ability to describe your message to the audience & fetch their interest towards you.<br><br> A graphic design gives a visual presentation to all your marketing ideas and builds company identity and brand recognition.
                        Graphic Design is where a professional implies his years of experience to display interactive design in digital form to meet Your brand Expectation. <br><br>Graphic design makes a great first impression with the use of logo, pictures & design which creates a professional image in the market about the company. It has been mostly used in spreading brand awareness
                      </p>
            </div>
            <div class="col-md-4 mt-3">

                <div class="bg-image hover-zoom">
                  <img src="/assets/images/GD.jpeg" width="100%" class="img">
                </div>
            </div>
        </div>
      </div>

      <div class="container mt-5 mb-5">
        <h1 class="display-6 mt-4 mb-4 text-center text-dark fw-bolder">Advantage Of Graphic Design</h1>

      </div>

      <div class="container mb-5">
        <div class="row">
          <div class="col-md">
              <div class="card text-center mb-4" style="background-color: rgb(178, 235, 216);">
                  <div class="card-header text-center"><h1 style="font-family: 'Times New Roman', Times, serif;">Brand Recognition</h1></div>
                  <div class="card-body">
                    <p class="card-text text-center h5" style="font-family:'Times New Roman', Times, serif;">The Major benefit of graphic designing for the business is that it helps to establish a unique identity of the brand which is a reflection of your company’s perception in the market.</p>
                  </div>
              </div>
          </div>
          <div class="col-md">
              <div class="card text-center mb-4" style="background-color: rgb(165, 186, 231);">
                  <div class="card-header text-center"><h1 style="font-family: 'Times New Roman', Times, serif;">User Experience</h1></div>
                  <div class="card-body">
                    <p class="card-text text-center h5" style="font-family: 'Times New Roman', Times, serif;">Well design graphic pictures can easily pass on information or
                      message about the product and services of the brand which increases
                      user experience.</p>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md">
              <div class="card text-center mb-4" style="background-color: rgb(231, 207, 240);">
                  <div class="card-header text-center"><h2 style="font-family: 'Times New Roman', Times, serif;">Positive First Impression</h2></div>
                  <div class="card-body">
                    <p class="card-text text-center h5" style="font-family: 'Times New Roman', Times, serif;">A proper design or identification helps in building trust & convincing the buyers about the quality product & services.
                        Good graphic design conveys a good presentation of your business & convince the customers.
                    </p>
                    <br>
                  </div>
              </div>
          </div>
          <div class="col-md">
              <div class="card text-center mb-4" style="background-color: rgb(179, 172, 193);">
                  <div class="card-header text-center"><h1 style="font-family: 'Times New Roman', Times, serif;">Higher Conversation</h1></div>
                  <div class="card-body">
                    <p class="card-text text-center h5" style="font-family: 'Times New Roman', Times, serif;">Professional and effective graphic designing can give footfall and traffic to a business<br> or brand where it will also help to increase the chances of conversion.</p>
                  </div>
              </div>
          </div>
        </div>
      </div>







</body>
</html>
