<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

   <!-- Background image -->
   <div
   class="p-5 text-center bg-image"
   style="
     background-image: url('/assets/images/crm\ bg.jpg');
     height: 600px;
   "
 >
   <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
     <div class="d-flex justify-content-center align-items-center h-100">
       <div class="text-white">
         <h1 class="mb-3" style="text-shadow: 2px 2px 2px black;">Customer Relationship Management</h1>
         <a class="btn btn-outline-light btn-lg" routerLink="/contact" role="button"
         ><h6>GET
          A PROPOSAL</h6></a
         >
       </div>
     </div>
   </div>
   <div class="custom-shape-divider-bottom-1674644076">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
</div>
 </div>
 <!-- Background image -->


<div class="container mt-5">
  <h1 class="text-center display-6 note note-warning " style="font-weight: 800;" >CRM Software in Pune</h1>
  <p class="text-center h4 " style="font-family: 'Times New Roman', Times, serif;">Customized CRM Software can extend itself to manage every aspect of your business and can cover your complete business management process. Such CRM Software can provide smooth functioning of your business and can eliminate wastages of man hours, money and can bring automation and overall simplicity and improvements in the busines processes</p>
  <p  class="text-center h4"  style="font-family: 'Times New Roman', Times, serif;">CRM Software Systems are very essential for success as well as general day to day management of any company. Keeping proper records required and having a system in place for Customer Relationship Management increases not only sales, performance and profits of a company but also image and goodwill of a company in the eyes of customers as well as general public</p>
    <ul class="text-left  mt-5">
      <li class="fw-bold h4" style="font-family: 'Times New Roman', Times, serif;">
        Improsys CRM Software Manage your leads / business opportunities received from various sources.
      </li>
      <li class="fw-bold h4" style="font-family: 'Times New Roman', Times, serif;">
        Convert a verified lead with full information to valid enquiries.
      </li>
      <li class="fw-bold h4" style="font-family: 'Times New Roman', Times, serif;">
        Keep a track of of all leads from a holistic lead dashboard.
      </li>
    </ul>
</div>

<div class="container mt-5">
  <h1 class="text-center display-6 note note-warning" style="font-weight: 800;font-family: 'Times New Roman', Times, serif;">Business Objective of  CRM Software</h1>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md">
      <ul class="h4">
        <li style="font-family: 'Times New Roman', Times, serif;">On-Time Followup</li>
        <li style="font-family: 'Times New Roman', Times, serif;">Increased Sales</li>
        <li style="font-family: 'Times New Roman', Times, serif;">Improved Cashflow</li>
        <li style="font-family: 'Times New Roman', Times, serif;">Ease in Operations</li>
      </ul>
    </div>
    <div class="col-md">
      <ul  class="h4">
        <li style="font-family: 'Times New Roman', Times, serif;">Information Security</li>
        <li style="font-family: 'Times New Roman', Times, serif;">Customer satisfaction</li>
        <li style="font-family: 'Times New Roman', Times, serif;">Customer Loyality</li>
        <li style="font-family: 'Times New Roman', Times, serif;">Increased Sales and Revenue</li>
      </ul>
    </div>
  </div>
</div>



<div class="container mt-5 mb-4">
  <h1 class="text-center display-6 note note-warning" style="font-weight: 800;">Business Impact of  CRM Software</h1>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md">
      <ul class="h5">
        <li style="font-family: 'Times New Roman', Times, serif;">No more errors on Quotes,PO,Invoices,Vouchers</li>
        <li style="font-family: 'Times New Roman', Times, serif;">On time followup with customers on due dates</li>
        <li style="font-family: 'Times New Roman', Times, serif;">Instant Availibility of Past Customer communications</li>
        <li style="font-family: 'Times New Roman', Times, serif;">Increase in Customers, Sales,Revenue</li>
      </ul>
    </div>
    <div class="col-md">
      <ul  class="h5">
        <li style="font-family: 'Times New Roman', Times, serif;">No more cases of lack or incomplete communication</li>
        <li style="font-family: 'Times New Roman', Times, serif;">Automation of repetitive tasks</li>
        <li style="font-family: 'Times New Roman', Times, serif;">Ability to manage performance of Sales Force</li>
        <li style="font-family: 'Times New Roman', Times, serif;">Improved Employee Morale</li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h1  class="text-center display-6 note note-warning" style="font-weight: 800;font-family: 'Times New Roman', Times, serif;">Features of CRM Software</h1>


<div class="row row-cols-1 row-cols-md-3 g-4 mb-5 mt-4">
  <div class="col" *ngFor="let data of data">
    <div class="card cards">
      <div class="bg-image hover-zoom">
        <div class="container">
          <img src="{{data.img}}" class="card-img-top " alt="Hollywood Sign on The Hill" />
        </div>
      </div>
      <div class="card-body">
        <p class="card-text text-dark h5 text-center" style="font-family: 'Times New Roman', Times, serif;">
         {{data.text}}
        </p>
      </div>
    </div>
  </div>
</div>

</div>







</body>
</html>
