<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


     <!-- Background image -->
     <div
     class="p-5 text-center bg-image"
     style="
       background-image: url('/assets/images/ecomerce.jpg');
       height: 650px;
     "
   >
     <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
       <div class="d-flex justify-content-center align-items-center h-100">
         <div class="text-white mt-5">
           <!-- <h6 class="mt-5 mb-3"  style="color:#c5c2c2;font-weight:600;font-size:6vw;font-family:'Times New Roman', Times, serif;text-shadow:2px 2px 2px black" >Digital Marketing Services </h6> -->
           <h6 class="mb-3-"   style="color:#e1dede;font-weight:600;font-size:3.2em;font-family:'Times New Roman', Times, serif;text-shadow:2px 2px 2px black">Ecommerce Website <br>
            Development Company in Pune.</h6>
           <a class="btn btn-outline-light btn-lg" routerLink="/contact" role="button"
           > <h6>GET
             A PROPOSAL</h6>  </a
           >
         </div>
       </div>
     </div>
     <div class="custom-shape-divider-bottom-1674548664">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
      </svg>
  </div>
   </div>
   <!-- Background image -->


   <div class="container-fluid">
    <h1 class="h1 text-center mt-5 fw-bolder"   >What Services I Provide to My Customers</h1>

    <div class="container mb-5 mt-5">
      <div class="row">
        <div class="col-md mt-5">
          <div class="card h-100">
            <img src="/assets/images/online shop.jpg" class="card-img-top" alt="Palm Springs Road" width="100%"/>
            <div class="card-body">
              <h5 class="card-title text-center " style="font-family: 'Times New Roman', Times, serif;">Online Shop Setup</h5>
              <p class="card-text text-center h5" style="font-family: 'Times New Roman', Times, serif;">I design beautiful, mobile responsive, SEO-friendly WordPress websites</p>
            </div>
          </div>
        </div>

        <div class="col-md mt-5">
          <div class="card h-100">
            <img src="/assets/images/strore maintainace.jpg" class="card-img-top" alt="Palm Springs Road"  width="100%" />
            <div class="card-body">
              <h5 class="card-title text-center" style="font-family: 'Times New Roman', Times, serif;">Store Maintenance  </h5>
              <p class="card-text text-center h5" style="font-family: 'Times New Roman', Times, serif;">I protect your websites by ensuring that they are backed up and always up-to-date..</p>
            </div>
          </div>
        </div>


        <div class="col-md mt-5">
          <div class="card h-100">
            <img src="/assets/images/ecom3.jpg" class="card-img-top" alt="Palm Springs Road" height="250px"  width="100%"/>
            <div class="card-body">
              <h5 class="card-title text-center" style="font-family: 'Times New Roman', Times, serif;">Ecommerce Customization</h5>
              <p class="card-text text-center h5"style="font-family: 'Times New Roman', Times, serif;">I develop feature-rich WordPress websites, ecommerce stores for small to medium businesses..</p>
            </div>
          </div>
        </div>


      </div>
    </div>
   </div>

   <div class="container">
    <h1 class="h4 text-center mt-5 fancy2 fw-bold" style="font-family: 'Times New Roman', Times, serif;">Your Business Partner For a Successful Ecommerce Business</h1>
    <p class="h5 mt-5 text-center fw-bold" style="font-family: 'Times New Roman', Times, serif;">Are you looking for an eCommerce website development company? You are in the right place. <br>I am skilled and experienced professional who is ready to help you setup a Online store.</p>
   </div>

   <div class="container mt-5">
    <div class="row">
      <div class="col-md">
       <img src="/assets/images/e comm.jpg" alt="" width="80%" >
      </div>
      <div class="col-md mt-3">
        <p class="text-left h5 fw-bolder" style="font-family: 'Times New Roman', Times, serif;">
          My specialty is helping small companies, startups set up their online stores and manage their inventory across multiple platforms (i.e. Shopify, Woocommerce ). My team and I work hard to ensure that your customers have a great experience when purchasing products from your company. We make sure that everything runs smoothly behind the scenes so that you don’t have to worry about anything other than growing your business!
        </p>
      </div>
    </div>
   </div>


   <!-- <div class="container-fluid mt-5"> -->
    <div
    class="p-5 text-center bg-image mt-4 images"
    style="
      background-image: url('/assets/images/e\ comm\ 6.jpg');
      height:680px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 mt-4 text-light" style="font-size:3em;text-shadow: 4px 4px 4px rgb(12, 12, 12);" style="font-family: 'Times New Roman', Times, serif;">We don’t just build website for you, we help you to sell.</h1>

        </div>
      </div>
    </div>
    <div class="custom-shape-divider-bottom-1674548489" >
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" >
          <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill" ></path>
      </svg>
  </div>
  </div>

   <body class="bg-light">
    <main>
        <!-- Ui cards -->
        <section id="cards">
            <div class="container py-2">
                <div class="row pb-4">
                    <div class="col-12 text-center">
                      <h1 class="h3 text-center mt-5 fw-bolder" style="font-family: 'Times New Roman', Times, serif;">Your Business Partner For a Successful Ecommerce BusinessEssential Features Included in the website</h1>

                    </div>
                </div>
                <!-- cards -->
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-5 pt-5" *ngFor="let data of data">
                        <div class="card shadow-sm border-0" >
                            <div class="card-body" style="box-shadow: 4px 4px 4px rgb(238, 161, 46);border:0.3px solid rgb(238, 161, 46);">

                                <div class="user-picture">
                                    <img src="{{data.img}}" class="shadow-sm " height="80" width="80" />
                                </div>
                                <div class="user-content">
                                    <h5 class="text-capitalize user-name h4 fw-bolder" style="font-family: 'Times New Roman', Times, serif;">{{data.name}}</h5>
                                    <p class=" text-capitalize fw-bolder text-muted small blockquote-footer mt-5 text-dark" style="font-family: 'Times New Roman', Times, serif;">{{data.text}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /cards -->
        </section>
        <!-- /Ui cards -->
    </main>

</body>

   <div class="container-fluid " >
    <div class="container">
      <p class="text-center h1 para" >Recently Completed Projects</p>




<div class="container mb-5">
  <img src="/assets/images/david mullar 2.png" class="card-img-top" alt="Wild Landscape" height="500px"/>
</div>



    </div>
   </div>
</body>
</html>
