<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  </head>
  <body>

   <!-- main start -->

  <!-- Background image -->
  <div
  class="p-5 text-center bg-image"
  style="
    background-image: url('/assets/images/main\ 02.webp');
    height: 550px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <span> <h5 style="color: #dedcdc;font-weight:600;font-size:3.5em;font-family:'Times New Roman', Times, serif;text-shadow: 4px 4px 4px rgb(11, 11, 11);" class="text-left  mt-5"><span>Anikaay </span>Integration</h5></span>
        <a class="btn btn-outline-light btn-lg mt-4" routerLink="/contact" role="button"
        >GET
        A PROPOSAL</a
        >
      </div>
    </div>
  </div>
  <!-- <div class="custom-shape-divider-bottom-1674106074">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div> -->
<svg class="editorial"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 150 28 "
     preserveAspectRatio="none">
 <defs>
 <path id="gentle-wave"
 d="M-160 44c30 0
    58-18 88-18s
    58 18 88 18
    58-18 88-18
    58 18 88 18
    v44h-352z" />
  </defs>
  <g class="parallax1">
   <use xlink:href="#gentle-wave" x="50" y="3" fill="#f461c1"/>
  </g>
    <g class="parallax2">
   <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2"/>
    </g>
      <g class="parallax3">
   <use xlink:href="#gentle-wave" x="50" y="9" fill="#3461c1"/>
   </g>
    <g class="parallax4">
   <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff"/>
  </g>
</svg>

</div>

<!-- Background image -->

<!--  main ends -->


<!-- DEMO START -->
 <div class="container">
  <div class="mt-4 mb-5">
    <h1 class="text-center text-dark" style="font-weight: 800;font-family: 'Times New Roman', Times, serif;text-shadow: 2px 2px 2px white;"><span class="bg-warning txt">Trusted Business Solution</span></h1><br>
        <p class="text-center para h4" style="font-family: 'Times New Roman', Times, serif;">We provide business solution to increase your digital
          footprint and work flow optimization. With the team of
          individuals believing in data driven decision making and
          maximum customer satisfaction.</p>
  </div>

 </div>
<!-- DEMO ends -->
 <section class="section-0" >

  <section class="section-1" >

    <div class="row">
      <div class="col-md" *ngFor="let data of data">
        <figure class="figure">
          <img src="{{data.img}}" class="img">
          <figcaption>
            <h3>{{data.subject}}</h3>
          </figcaption>
          <!-- <a href="#"></a> -->
        </figure>
      </div>
    </div>
  </section>

 </section><br><br>
<!-- DEMO ENDS -->


 <!-- step start -->

 <div class="container mt-5 mb-5">
  <div class="row mt-5">


    <h1 class="text-center display-5 text-dark" style="font-family: 'Times New Roman', Times, serif;">

      Website Design Process</h1>


    <p class="text-center h4 mb-4" style="font-family: 'Times New Roman', Times, serif;">Less Friction. Smooth Onboarding. Unstoppable, Delightful Journey.
    </p>
    <div class="col-md">

      <figure class="snip1515">
        <div class="profile-image"><img src="/assets/images/Inovation-128x128.png" alt="sample47" /></div>
        <figcaption>

          <h2 class="fw-bold">1. Idea</h2>
          <p style="font-family:'Times New Roman', Times, serif larger;font-weight: 700;">Talk to your customers about what they want from the website. What are their goals? What's their budget?</p>
        </figcaption>
      </figure>

    </div>
    <div class="col-md">

      <figure class="snip1515">
        <div class="profile-image"><img src="/assets/images/Design-128x128.png" alt="sample47" /></div>
        <figcaption>
          <h2 class="fw-bold">2. Design</h2>
          <p style="font-family:'Times New Roman', Times, serif;font-size: larger;font-weight: 700;">We get to work creating a wireframe based on our notes from step one. We then review these with the client.</p>

        </figcaption>
      </figure>

    </div>
    <div class="col-md">

      <figure class="snip1515">
        <div class="profile-image"><img src="/assets/images/Development-128x128.png" alt="sample47" /></div>
        <figcaption>
          <h2 class="fw-bold">3. Develop</h2>
          <p style="font-family:'Times New Roman', Times, serif;font-size: larger;font-weight: 700;">Once everyone is happy with the design, we move onto development and make sure everything works as expected.</p>
        </figcaption>
      </figure>

    </div>

    <div class="col-md">

        <figure class="snip1515">
          <div class="profile-image"><img src="/assets/images/perspective_matte-128x128.png" alt="sample47" /></div>
          <figcaption>
            <h2 class="fw-bold">4. Test</h2>
            <p style="font-family:'Times New Roman', Times, serif;font-size: larger;font-weight: 700;">We conduct user testing to see what people think about our product! We make any necessary changes required.</p>

          </figcaption>
        </figure>

      </div>
      <div class="col-md-4">

        <figure class="snip1515">
          <div class="profile-image"><img src="/assets/images/launch.png" alt="sample47" /></div>
          <figcaption>
            <h2 class="fw-bold">5. Launch</h2>
            <br><br>
            <p style="font-family:'Times New Roman', Times, serif;font-size: larger;font-weight: 700;">Finally, we release the website to the public!</p>
          </figcaption>
        </figure>

      </div>



  </div>
</div>

  <!-- step ENDS -->







   <div class="container">
    <div class="row">

      <div class="col-md">

        <div class="waviy text-center">

          <span style="--i:1">W </span>
          <span style="--i:2">H</span>
          <span style="--i:3">A</span>
          <span style="--i:4" class="me-2">T</span>
          <span style="--i:5">W</span>
          <span style="--i:6" class="me-2">E</span>
          <span style="--i:7">O</span>
          <span style="--i:8">F</span>
          <span style="--i:9">F</span>
          <span style="--i:10">E</span>
          <span style="--i:10">R</span>
         </div>

      </div>
    </div>
   </div>
 <!-- web development start -->

   <div class="container mt-5">
    <div class="row">
      <div class="col-md">
          <div class="card">
            <div class="blog-item">
              <a routerLink="/webdevelopment">
                  <div class="icon">
                      <img src="/assets/images/1.svg.svg" alt="" class="imgs">
                  </div>
                  <div class="content">
                      <div class="title ">WEB DEVELOPMENT </div>
                      <div class="rounded"></div>

                      <p class=" h5" style="font-family: 'Times New Roman', Times, serif;">
                        We do powerful and highly customized website development for your ideas
                        happen. Our web design and development team are exceptionally focused
                        and offer the best services. We consider each to be a chance to upgrade the
                        conceivable outcomes of your business and that of the web all in all
                      </p>
                  </div>
                  <div class="item-arrow">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </div>
              </a>

          </div>
          </div>
      </div>
    </div>
   </div>
   <div class="container mt-4 ">
    <div class="row" >
      <div class="col-md">
        <div class="card-body" >
        <section class="p-section" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
          <div class="p-section__image">
          <h1 class=" text-center text-dark " style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
            WHAT IS WEB DEVELOPMENT?
          </h1>
          <p class="text-center text-dark h5 " style="font-family: 'Times New Roman', Times, serif;">Web development is the building and maintenance of websites; it’s the work that
            happens behind the scenes to make a website look great, work fast and perform
            well with seamless user experience. The web development process includes web
            design, web content development, client-side/server-side scripting, and network
            security configuration, among other tasks.
          </p>
        </div>
      </section>
          <div style="border: 1px solid rgb(61, 119, 129);" class="mt-4">
            <div class="row mt-5 " >
              <h4 class="text-center text-dark mt-5">We’re Skillful at</h4>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/icons8-laravel-50.png" height="40px" width="40px" class="me-3" style="font-family: 'Times New Roman', Times, serif;"><span > Laraval Development</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"> <img src="/assets/images/icons8-wordpress-52.png" height="40px" width="40px" class="me-3" style="font-family: 'Times New Roman', Times, serif;"><span>WordPress Development</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/icons8-python-50.png" height="40px" width="40px"  class="me-3" style="font-family: 'Times New Roman', Times, serif;"><span>Python Development</span></p>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/icons8-django-48.png" height="40px" width="40px"  class="me-3" style="font-family: 'Times New Roman', Times, serif;"><span>DJango Development</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/icons8-javascript-50.png" height="40px" width="40px"  class="me-3" style="font-family: 'Times New Roman', Times, serif;"><span>Vanilla JS Development</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/icons8-react-60.png" height="40px" width="40px"  class="me-3" style="font-family: 'Times New Roman', Times, serif;"><span>React JS Development</span></p>
              </div>
            </div>



            <div class="row">
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/icons8-java-50.png" height="40px" width="40px"  class="me-3"><span>Java Development</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/icons8-codeigniter-48.png" height="40px" width="40px"  class="me-3"><span>Codeigniter Development</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/icons8-javascript-50.png" height="40px" width="40px"  class="me-3"><span>Javascript Development</span></p>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
   </div>

 <!-- web development ends -->















  <!-- we design start -->
   <div class="container mt-5">
    <div class="row">
      <div class="col-md">
          <div class="card">
            <div class="blog-item">
              <a routerLink="/webdesign">
                  <div class="icon">
                      <img src="/assets/images/web d1.svg" alt="" class="imgs" width="100%">
                  </div>
                  <div class="content">
                      <div class="title">WEB DESIGN </div>
                      <div class="rounded"></div>

                      <p class="h4" style="font-family: 'Times New Roman', Times, serif;">
                        As a reputed custom web designing company in India, We specialize in giving
                        you contemporary designs, user-friendly website interface, motion graphics,
                        and visual aspect for your websites.
                      </p>
                  </div>
                  <div class="item-arrow">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </div>
              </a>

          </div>
          </div>
      </div>
    </div>
   </div>
   <div class="container" >

    <div class="row" >
      <section class="p-section mb-5" style="box-shadow: rgb(204, 219, 233) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
        <div class="p-section__image">
          <h1 class=" text-center text-dark " style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
            WHAT IS WEB DESIGN ?
          </h1>
          <p class="text-center  mt-5 mb-5 h5">Web design is a process of creation, with the intention of presenting the content on
            electronic web pages, which the end-users can access through the internet with the
            help of a web browser. Lilac is one of the leading web design and web development
            companies in India offering the latest trends and technologies in web design
          </p>
      </div>
    </section>

      <div class="container mb-5 " style="border: 1px solid rgb(61, 119, 129);">
        <h4 class="text-center text-dark mt-5">We’re Skillful at</h4>
        <div class="row ">
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/coding.png" height="40px" width="40px" class="me-3"><span>Corporate Web
              Designing</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"> <img src="/assets/images/responsive web design.png" height="40px" width="40px" class="me-3"><span>Responsive Web
              Designing</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/mail.png" height="40px" width="40px"  class="me-3"><span>Email Template
              Designing</span></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/Interactive Web design.png" height="40px" width="40px"  class="me-3"><span>Interactive Web
              Designing</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/Theme designing.png" height="40px" width="40px"  class="me-3"><span>Theme
              Designing</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/Interface designing.png" height="40px" width="40px"  class="me-3"><span>Interface
              Designing</span></p>
          </div>
        </div>



        <div class="row">
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/UX.png" height="40px" width="40px"  class="me-3"><span>UX
              Designing
              </span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/Digital Flyer.png" height="40px" width="40px"  class="me-3"><span>Digital Flyer
              Designing</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/UI.png" height="40px" width="40px"  class="me-3"><span>UI
              Development</span></p>
          </div>

        </div>



      </div>
    </div>

   </div>


   <!-- we design ends -->









   <!-- GRAPHIC DESIGN start -->
   <div class="container mt-5">
    <div class="row">
      <div class="col-md">
          <div class="card">
            <div class="blog-item">
              <a routerLink="/graphic">


                  <div class="icon">
                      <img src="/assets/images/GD3.svg" alt="" class="imgs" width="100%">
                  </div>
                  <div class="content">
                      <div class="title">GRAPHIC DESIGN </div>
                      <div class="rounded"></div>

                      <p class="h4 ">
                        As a reputed custom Graphic Design & Branding Agency in India, We create
                        beautiful and engaging designs th at help you stand out from the crowd and
                        effectively market your business.
                      </p>
                  </div>
                  <div class="item-arrow">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </div>
              </a>

          </div>
          </div>
      </div>
    </div>
   </div>
   <div class="container mt-4">
    <div class="row">
      <div class="col-md">
        <div class="card-body" >
        <section class="p-section" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
          <div class="p-section__image">
          <h1 class=" text-center text-dark " style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
            WHAT IS GRAPHIC DESIGN?
          </h1>
          <p class="text-center h5 ">Our graphic designing services help you stand apart from the competition and
            effectively represent your marketing elements through creatively designed
            graphics.
          </p>



        </div>
      </section>

     <div class="container mt-5"  style="border: 1px solid rgb(61, 119, 129);">
      <div class="row " >
        <h4 class="text-center text-dark mt-5">We’re Skillful at</h4>
        <div class="col-md" >
          <p class="text-dark"><img src="/assets/images/coding.png" height="40px" width="40px" class="me-3"><span>Corporate Web
            Designing</span></p>
        </div>
        <div class="col-md">
          <p class="text-dark"> <img src="/assets/images/responsive web design.png" height="40px" width="40px" class="me-3"><span>Responsive Web
            Designing</span></p>
        </div>
        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/mail.png" height="40px" width="40px"  class="me-3"><span>Email Template
            Designing</span></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/Interactive Web design.png" height="40px" width="40px"  class="me-3"><span>Interactive Web
            Designing</span></p>
        </div>
        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/Theme designing.png" height="40px" width="40px"  class="me-3"><span>Theme
            Designing</span></p>
        </div>
        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/Interface designing.png" height="40px" width="40px"  class="me-3"><span>Interface
            Designing</span></p>
        </div>



      </div>



     </div>



      </div>
      </div>
    </div>
   </div>


   <!-- GRAPHIC DESIGN ends -->



<!--
   digital marketing start -->

   <div class="container mt-5">
    <div class="row">
      <div class="col-md">
          <div class="card">
            <div class="blog-item">
              <a routerLink="/digital-marketing">
                  <div class="icon">
                      <img src="/assets/images/DIGITAL MARKETING.svg" alt="" class="imgs" width="100%">
                  </div>
                  <div class="content">
                      <div class="title" style="font-family: 'Times New Roman', Times, serif;">DIGITAL MARKETING</div>
                      <div class="rounded"></div>

                      <p class="h4">
                        We are here to drive highly targeted traffics to your business by using
                        numerous digitalmarketing strategies focused on increasing the reach and
                        visibility of your business in social media. You don’t need any marketing skills
                        to have great ads. Run ads like a pro — without having to rely on experts by the
                        excellent digital marketing services form the experts
                      </p>
                  </div>
                  <div class="item-arrow">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </div>
              </a>

          </div>
          </div>
      </div>
    </div>
   </div>
   <div class="container mt-5">




    <div class="row">
      <div class="col-md">

        <section class="p-section" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
          <div class="p-section__image">
            <h1 class=" text-center text-dark " style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
              DIGITAL MARKETING?
            </h1>
            <p class="text-center mt-5 mb-5 h5">Looking for a Result Oriented Digital Marketing Companion? We are here for you
              to give guaranteed digital marketing services that enhance your revenue. Take
              advantage of our expertise. Build your Brand Equity and Business online.
            </p>

        </div>
      </section>
      </div>

      <div class="container-sm mt-5 mb-5">
        <div class="row ms-3">
          <div class="col-md">

            <div class="card text-white bg-primary mb-3 imp" style="max-width: 18rem;">
              <div class="card-header"><h5 class="card-title text-center xbootstrap">Search Engine Optimization </h5></div>
              <div class="card-body">
                <div class="btn btn-dark" (click)="toogleDisplayDiv()">Read More</div>
                <div class="div" [hidden]="isShowDiv">
                <p class="card-text text-center">Enterprise SEO</p>
                <p class="card-text text-center">Local SEO</p>
                <p class="card-text text-center">E-Commerce SEO</p>
                <p class="card-text text-center">Worldwide SEO</p>
                <p class="card-text text-center"> Multi-Lingual SEO</p>
                <p class="card-text text-center"> Web Analytics</p>
                <p class="card-text text-center">Link Building</p>
                <p class="card-text text-center">Algorithm Updates</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md">
            <div class="card text-white bg-secondary mb-3 imp" style="max-width: 18rem;">
              <div class="card-header"> <h5 class="card-title text-center xbootstrap"> Content Marketing </h5></div>
              <div class="card-body">
                <div class="btn btn-dark" (click)="toogleout()">Read More</div>
                <div [hidden]="isnotshow">
                  <p class="card-text text-center">Content Strategy</p>
                  <p class="card-text text-center">Content Writing</p>
                  <p class="card-text text-center">Content Editing</p>
                  <p class="card-text text-center">Guest Posting</p>
                  <p class="card-text text-center">Blog Post</p>
                  <p class="card-text text-center">PR Writing</p>
                  <p class="card-text text-center">Leads & Management</p>
                  <p class="card-text text-center">Case Studies</p>
                  <p class="card-text text-center">SEO Copywriting</p>
                </div>
              </div>
            </div>
          </div>

            <div class="col-md">
              <div class="card text-white bg-success mb-3 imp" style="max-width: 18rem;">
                <div class="card-header"><h5 class="card-title text-center xbootstrap">Social Media Promotion</h5></div>
                <div class="card-body">
                  <div class="btn btn-dark" (click)="tooglein()">Read More</div>
                  <div class="div" [hidden]="isshow">
                    <p class="card-text text-center">Social Media Audit</p>
                    <p class="card-text text-center">Social Media Ads</p>
                    <p class="card-text text-center"> Social Bookmarking</p>
                    <p class="card-text text-center">Social Media Management</p>
                    <p class="card-text text-center">Brand & Engagement Campaigns</p>
                    <p class="card-text text-center">Analytics & Insights</p>
                    <p class="card-text text-center"> Online Reputation Management</p>
                    <p class="card-text text-center">Multichannel Integration</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md">
              <div class="card text-white bg-danger mb-3 imp" style="max-width: 18rem;">
                <div class="card-header"><h5 class="card-title text-center xbootstrap">Search Engine Marketing</h5></div>
                <div class="card-body">
                  <div class="btn btn-dark" (click)="toogle()">Read More</div>
                  <div class="div" [hidden]="isnotshowing">
                    <p class="card-text text-center">Pay Per Click<br>(PPC)</p>
                    <p class="card-text text-center">Paid search ads</p>
                    <p class="card-text text-center"> Paid search advertising</p>
                    <p class="card-text text-center">Cost Per Click<br>(CPC)</p>
                    <p class="card-text text-center">Cost Per Thousandmpressions<br>(CPM)
                     </p>
                    <p class="card-text text-center">Bing Ads</p>
                    <p class="card-text text-center"> Campaign Strategy</p>
                    <p class="card-text text-center"> Google Ad words</p>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>






  </div>




   <!-- digital marketing ends -->








    <!-- e-commerce start -->


    <div class="container mt-5">
      <div class="row">
        <div class="col-md">
            <div class="card">
              <div class="blog-item">
                <a routerLink="/ecommerce">
                    <div class="icon">
                        <img src="/assets/images/EComm.svg" alt="" class="imgs">
                    </div>
                    <div class="content">
                        <div class="title" style="font-family: 'Times New Roman', Times, serif;">E-COMMERCE</div>
                        <div class="rounded"></div>

                        <p style="font-family: 'Times New Roman', Times, serif;" class="h4">
                          A website that has too much going on will not yield the intended results of a
                          business owner. An E-Commerce business owner needs to have a website that
                          is lightweight, quality-based, clear, and well-written. We help to create just
                          that with perfect search engine optimization, ensuring traffic and promising
                          results in the future.
                        </p>
                    </div>
                    <div class="item-arrow">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </div>
                </a>

            </div>
            </div>
        </div>
      </div>
     </div>
     <div class="container mt-4">
      <div class="row" >
        <div class="col-md">
          <div class="card-body" >
          <section class="p-section" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
            <div class="p-section__image">
            <h1 class=" text-center text-dark " style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
              IMPLEMENT
              PAYMENT
              APIS
            </h1>
            <p class="text-center  h5 " style="font-family: 'Times New Roman', Times, serif;">We implement Payment APIs on your existing e-commerce websites to improve your
              website performance. We also offer custom shipping and courier API integration with
              third party service providers like Fedex, DTDC, Blue Dart, India Post, DHL and others.
              This allows seamless rate integration, shipment, label generation, shipment tracking
              and pickup of shipped goods and products.
            </p>
          </div>
        </section>
            <div  style="border: 1px solid rgb(61, 119, 129);" class="mt-4">
              <div class="row mt-5" >
                <h4 class="text-center text-dark mt-5">We’re Skillful at</h4>
                <div class="row">
                  <div class="col-md">
                    <p class="text-dark"><img src="/assets/images/payment-gateway.png" height="40px" width="40px" class="me-3"><br>
                      <span >Payment gateway
                      integration</span></p>
                  </div>
                  <div class="col-md">
                    <p class="text-dark"> <img src="/assets/images/search engine.png" height="40px" width="40px" class="me-3"><br>
                      <span>Search engine
                      friendly</span></p>
                  </div>
                  <div class="col-md">
                    <p class="text-dark"><img src="/assets/images/DM AND ADV.png" height="40px" width="40px"  class="me-3"><br><span>Digital marketing and
                      advertisement</span></p>
                  </div>
                  <div class="col-md">
                    <p class="text-dark"><img src="/assets/images/cart.png" height="40px" width="40px"  class="me-3"><br><span>Customizable
                      shopping cart</span></p>
                  </div>

                  <div class="col-md">
                    <p class="text-dark"><img src="/assets/images/currency.png" height="40px" width="40px"  class="me-3"><br><span>Multi currencies
                      shopping option</span></p>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
     </div>

    <!-- e-commerce ends -->



 <!-- seo start -->

 <div class="container mt-5">
  <div class="row">
    <div class="col-md">
        <div class="card">
          <div class="blog-item">
            <a routerLink="/SEO">
                <div class="icon">
                    <img src="/assets/images/SEO1.svg" alt="" class="imgs">
                </div>
                <div class="content">
                    <div class="title" style="font-family: 'Times New Roman', Times, serif;">Search Engine Optimization</div>
                    <div class="rounded"></div>

                    <p style="font-family: 'Times New Roman', Times, serif;" class="h4">
                      we follow the rules and regulations of Google and do SEO for our clients. Get
          visibility on search engines with optimized SEO Services from one of the best
          SEO Company in India. When a client contacts us for SEO Services, we first
          begin with an analysis of the website.
          Our SEO packages include targeting high-ranking keywords for the business
          and industry, link building with high quality backlinks, optimizing the On-page
          and Off-page SEO, developing high quality content etc.
                    </p>
                </div>
                <div class="item-arrow">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </div>
            </a>

        </div>
        </div>
    </div>
  </div>
 </div>
 <div class="container mt-4">
  <div class="row" >
    <div class="col-md">
      <div class="card-body" >
      <section class="p-section" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
        <div class="p-section__image">
        <h1 class=" text-center text-dark " style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
          What are
            SEO
            Keywords
            Services &
            Strategies
        </h1>
        <p class="text-center h5 ">We analyze our target audience and based on that we do our research for the best
          suited key phrases and keywords. With the help of proper and targeted keywords,
          we aim to improve customer engagement and user interaction For fruitful SEO
          results, it is very important to strategize comprehensive, structured, and good
          quality content.
        </p>
      </div>
    </section>
        <div style="border: 1px solid rgb(61, 119, 129);" class="mt-4">
          <div class="row mt-5" >
            <h4 class="text-center text-dark mt-5">We’re Skillful at</h4>
            <div class="row">
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/key.svg" height="40px" width="40px" class="me-3"><br>
                  <span>Payment gateway
                  integration</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"> <img src="/assets/images/on page.png" height="70px" width="90px" class="me-3"><br>
                  <span>Search engine
                  friendly</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/conv.png" height="40px" width="40px"  class="me-3"><br><span>Seo conversion
                  tracking</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/google my image.png" height="40px" width="40px"  class="me-3"><br><span>Google my business
                </span></p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

  <!-- seo ends -->









   <!-- CMS start -->

   <div class="container mt-5">
    <div class="row">
      <div class="col-md">
          <div class="card">
            <div class="blog-item">
              <a routerLink="/cms">
                  <div class="icon">
                      <img src="/assets/images/Content.svg" alt="" class="imgs">
                  </div>
                  <div class="content">
                      <div class="title h4" style="font-family: 'Times New Roman', Times, serif;">CONTENT MANAGEMENT SYSTEM</div>
                      <div class="rounded"></div>

                      <p style="font-family: 'Times New Roman', Times, serif;" class="h4">
                        Content Management System (CMS) or not for the development purpose. A
                        CMS platform is a software which allows easy management of content and
                        creating a website. CMS helps in reducing the workload both for the business
                        and the web design and development companies. CMS helps to publish and
                        manage content from a server which is accessible to the users.
                        This is highly useful to the users as they can easily update the content on the
                        website even without having knowledge of HTML or PHP. The users no longer
                        need to depend on technical teams for uploading and management of their
                        content or files.
                      </p>
                  </div>
                  <div class="item-arrow">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </div>
              </a>

          </div>
          </div>
      </div>
    </div>
   </div>
   <div class="container mt-4">
    <div class="row" >
      <div class="col-md">
        <div class="card-body" >
        <section class="p-section" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
          <div class="p-section__image">
          <h1 class=" text-center  " style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
            Why Do You
            Need a
            CMS?
          </h1>
          <p class="text-center  h4 " style="font-family: 'Times New Roman', Times, serif;">As a digital marketing agency, we can’t express how important a CMS is to a
            handful of users and business owners alike. If you’re someone who is planning to
            redesign or create a website from the ground up efficiently then you need a CMS
            to keep your content up-to-date.
          </p>
        </div>
      </section>
          <div style="border: 1px solid rgb(61, 119, 129);" class="mt-4">
            <div class="row mt-5">
              <h4 class="text-center text-dark mt-5">We’re Skillful at</h4>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Indexing.png" height="40px" width="40px" class="me-3"><br>
                  <span>Indexing, searching and
                    retrieval to easily access
                    content</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"> <img src="/assets/images/Format.png" height="40px" width="40px" class="me-3"><br>
                  <span>Format
                    Management</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Revision.png" height="40px" width="40px"  class="me-3"><br><span>Revision Features to
                  Update Content</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Publishing Content.png" height="40px" width="40px"  class="me-3"><br><span>Google my business
                </span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
    <!-- CMS ends -->








  <!-- crm start -->

  <div class="container mt-5">
    <div class="row">
      <div class="col-md">
          <div class="card">
            <div class="blog-item">
              <a routerLink="/crm">
                  <div class="icon">
                      <img src="/assets/images/CRM.svg" alt="" class="imgs">
                  </div>
                  <div class="content">
                      <div class="title h4" style="font-family: 'Times New Roman', Times, serif;">CUSTOMER RELATIONSHIP
                        MANAGEMENT</div>
                      <div class="rounded"></div>

                      <p style="font-family: 'Times New Roman', Times, serif;" class="h4">
                        CRM stands for “customer relationship management,” a type of software
                        that helps businesses manage, track and organize their relationships with
                        customers. A CRM can help you store customer data such as user behavior,
                        how long a customer has been with your business, purchase records, and
                        notes on sales interactions, which you can use to optimize your  sales and
                        marketing processes and improve customer service across your organization.
                      </p>
                  </div>
                  <div class="item-arrow">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </div>
              </a>

          </div>
          </div>
      </div>
    </div>
   </div>
   <div class="container mt-4 mb-5">
    <div class="row" >
      <div class="col-md">
        <div class="card-body" >
        <section class="p-section" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
          <div class="p-section__image">
          <h1 class=" text-center " style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
            Marketing
            Features
            CRM
          </h1>
          <p class="text-center h4 " style="font-family: 'Times New Roman', Times, serif;">Marketing features are also gaining prominence given the many channels
            available today to reach out to customers. Similarly, the demand for reporting
            and analytics is increasing, as businesses are leveraging data to understand
            customer behavior and predict sales volumes.
          </p>
        </div>
      </section>
          <div style="border: 1px solid rgb(61, 119, 129);" class="mt-5">
            <div class="row mt-4">
              <h4 class="text-center text-dark mt-5" style="font-family: 'Times New Roman', Times, serif;">We’re Skillful at</h4>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Lead Management.png" height="40px" width="40px" class="me-3"><br>
                  <span>Lead Management</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"> <img src="/assets/images/Contact Management.png" height="40px" width="40px" class="me-3"><br>
                  <span>Contact Management</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Email Management.png" height="40px" width="40px"  class="me-3"><br><span>Email Management</span></p>
              </div>
              <div class="row">
                <div class="col-md">
                  <p class="text-dark"><img src="/assets/images/Reporting and Analytics.png" height="40px" width="40px"  class="me-3"><br><span>Reporting and Analytics
                  </span></p>
                </div>
                <div class="col-md">
                  <p class="text-dark"><img src="/assets/images/Marketing.png" height="40px" width="40px"  class="me-3"><br><span>Marketing
                  </span></p>
                </div>
                <div class="col-md">
                  <p class="text-dark"><img src="/assets/images/Pipeline Management.png" height="40px" width="40px"  class="me-3"><br><span>Pipeline Management
                  </span></p>
                </div>
                <div class="row">

                  <div class="col-md">
                    <p class="text-dark"><img src="/assets/images/workflow.png" height="40px" width="40px"  class="me-3"><br><span>Workflow Automation
                    </span></p>
                  </div>

                  <div class="col-md">
                    <p class="text-dark"><img src="/assets/images/document.png" height="40px" width="40px"  class="me-3"><br><span>Document Management
                    </span></p>
                  </div>

                  <div class="col-md">
                    <p class="text-dark"><img src="/assets/images/proposal2.png" height="40px" width="40px"  class="me-3"><br><span>Quotes/Proposal
                      Management
                    </span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>

  <!-- crm ends -->







   <!-- payment gateway start -->


   <div class="container mt-5">
    <div class="row">
      <div class="col-md">
          <div class="card">
            <div class="blog-item">
              <a routerLink="/payment">
                  <!-- <div class="icon">
                      <img src="/assets/images/CRM.svg" alt="" class="imgs">
                  </div> -->
                  <div class="content">
                      <div class="title h4" style="font-family: 'Times New Roman', Times, serif;" >Payment Gateway</div>
                      <div class="rounded"></div>

                      <p style="font-family: 'Times New Roman', Times, serif;" class="h4">
                        A payment gateway is a technological solution that enables fast and securepayment processing of card-not-present (CNP) transactions. It is a link between
                        the seller, the buyer, and the bank, similar to a POS terminal at an offline store.
                        Thanks to the gateway, it’s all done quickly and securely. So, in a way, it’s a digital
                        “twin” of a physical point-of-sale, which is a payment terminal at a physical
                        shop’s counter.
                      </p>
                  </div>
                  <div class="item-arrow">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </div>
              </a>

          </div>
          </div>
      </div>
    </div>
   </div>
   <div class="container mt-4 mb-5" >
    <div class="row" >
      <div class="col-md">
        <div class="card-body" >
        <section class="p-section" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
          <div class="p-section__image">
          <h1 class=" text-center text-dark " style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
            Benefits Of Using An Online Payment Gateway
          </h1>
          <p class="text-center h4 " style="font-family: 'Times New Roman', Times, serif;">Marketing features are also gaining prominence given the many channels
            available today to reach out to customers. Similarly, the demand for reporting
            and analytics is increasing, as businesses are leveraging data to understand
            customer behavior and predict sales volumes.
          </p>
        </div>
      </section>
    <div class="container" style="border: 1px solid rgb(61, 119, 129);" class="mt-5">
      <div class="row mt-5" >

        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/Faster and Secure Transactions.png" height="40px" width="40px"  class="me-3"><br><span>Faster and Secure Transactions</span>
        </div>
        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/Minimum Set Up Costs.png" height="40px" width="40px"  class="me-3"><br><span>Minimum Set Up Costs
          </span></p>
        </div>

      </div>

      <div class="row ">

        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/trends.webp" height="40px" width="40px"  class="me-3"><br><span>Keep Up With The Trends
          </span></p>
        </div>
        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/time.png" height="40px" width="40px"  class="me-3"><br><span>Save Your Time
          </span></p>
        </div>

      </div>


      <div class="row">

        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/customer.png" height="40px" width="40px"  class="me-3"><br><span>Improved Customer Experience
          </span></p>
        </div>
        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/payment-gateway.png" height="40px" width="40px"  class="me-3"><br><span>Accept Worldwide Payments
          </span></p>
        </div>

      </div>



      <div class="row">

        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/reduce.png" height="40px" width="40px"  class="me-3"><br><span>Reduce Declined Transactions
          </span></p>
        </div>
        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/cash.png" height="40px" width="40px"  class="me-3"><br><span>Enhanced Cash Flow
          </span></p>
        </div>

      </div>


      <div class="row">

        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/payment automation.png" height="40px" width="40px"  class="me-3"><br><span>Payment Automation
          </span></p>
        </div>
        <div class="col-md">
          <p class="text-dark"><img src="/assets/images/detective.png"  height="40px" width="40px"  class="me-3">
            <br><span>Fraud Detection Tools</span></p>
        </div>

      </div>

    </div>


        </div>
      </div>
    </div>
   </div>

    <!-- payment gateway ends -->



    <!-- Shipping Solution start -->

 <div class="container mt-5">
    <div class="row">
      <div class="col-md">
          <div class="card">
            <div class="blog-item">
              <a routerLink="/shiping">
                  <div class="content">
                      <div class="title" style="font-family: 'Times New Roman', Times, serif;">Shipping Solution</div>
                      <div class="rounded"></div>

                      <p style="font-family: 'Times New Roman', Times, serif; " class="h4">
                        Shipping solution integrates seamlessly with e-commerce shopping
                        carts and platforms to pull orders in real-time, automate label printing,
                        update e-stores with tracking numbers, automatically send notify email to
                        customers, and prepare reports.

                      </p>
                  </div>
                  <div class="item-arrow">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </div>
              </a>

          </div>
          </div>
      </div>
    </div>
   </div>
   <div class="container mt-4 mb-5">
    <div class="row" >
      <div class="col-md">
        <div class="card-body" >
        <section class="p-section" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
          <div class="p-section__image">
          <h1 class=" text-center text-dark " style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
            Here are five benefits of implementing the right <br>
            e-commerce shipping solution:
          </h1>
          <p class="text-center  h4 " style="font-family: 'Times New Roman', Times, serif;">Marketing features are also gaining prominence given the many channels
            available today to reach out to customers. Similarly, the demand for reporting
            and analytics is increasing, as businesses are leveraging data to understand
            customer behavior and predict sales volumes.
          </p>
        </div>
      </section>
      <div class="row mt-5" >
        <div class="col-md">
          <p class="fw-bolder" style="font-family: 'Times New Roman', Times, serif; ">1.Finding the Right
            Carrier Service at the
            Lowest Cost</p>
        </div>
        <div class="col-md">
        <p class="fw-bolder" style="font-family: 'Times New Roman', Times, serif; ">  2.Finding the RightCarrier Service at theLowest Cost</p>
        </div>
        <div class="col-md">
          <p class="fw-bolder" style="font-family: 'Times New Roman', Times, serif; ">3.Tracking Shipments &Resolving Problems inReal-Time</p>
        </div>
        <div class="col-md">
          <p class="fw-bolder" style="font-family: 'Times New Roman', Times, serif; ">4.Getting Accurate
            Invoices & Negotiating
            Carrier Contracts</p>
        </div>
        <div class="col-md">
          <p class="fw-bolder" style="font-family: 'Times New Roman', Times, serif; ">5.Making Data-DrivenDecisions</p>
        </div>

      </div>
        </div>
      </div>
    </div>
   </div>
    <!-- Shipping Solution end -->






  <div class="container mt-5">
    <h1 class="display-6 text-dark mb-4 mt-5" style="font-family: 'Times New Roman', Times, serif;">
      Recently Completed Projects
    </h1>

    <div class="row mb-3" >
      <div class="col-md-6 mt-4">

        <img src="/assets/images/p1.jpeg" alt="" width="100%">
        <br>
        <p><a href="https://vailankanniinfoservices.co.in/" style="color: black;font-family: 'Times New Roman', Times, serif;font-size:x-large;">vailankanniinfoservices.co.in</a></p>
      </div>
      <div class="col-md-6">

        <img src="/assets/images/p3.jpeg" alt="" width="100%">
        <br>
        <p><a href="https://anikaay.com/anikaay-landing-page2" style="color: black;font-family: 'Times New Roman', Times, serif;font-size:x-large;">anikaay.com</a></p>

      </div>

    </div>

    <div class="row mb-6">
      <div class="col-md-6">
        <img src="/assets/images/p2.jpeg" alt="" width="100%">
        <br>
        <p><a href="https://consumerjusticegroupllp.org/" style="color: black;font-family: 'Times New Roman', Times, serif;font-size:x-large;">consumerjusticegroupllp.org</a></p>

      </div>
      <div class="col-md-6">

        <img src="/assets/images/p6.jpeg" alt="" width="100%">
        <br>
        <p><a href="#" style="color: black;font-family: 'Times New Roman', Times, serif;font-size:x-large;">Real Estate</a></p>


      </div>
    </div>


    <div class="row">
      <div class="col-md-6">

        <img src="/assets/images/p7.jpeg" alt="" width="100%">
        <p><a href="#" style="color: black;font-family: 'Times New Roman', Times, serif;font-size:x-large;">Life Care</a></p>
      </div>
      <div class="col-md-6">

        <img src="/assets/images/david mullar 2.png" alt="" width="100%">
        <p><a href="https://davidmuller.in/" style="color: black;font-family: 'Times New Roman', Times, serif;font-size:x-large;">davidmuller.in</a></p>
      </div>
    </div>

  </div>




  </body>
</html>
