<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>


    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
      background-image: url('/assets/images/e\ comm6.webp');
      height: 650px;
      margin-top: 58px;
      ">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3 display-4" style="font-family: 'Times New Roman',
              Times, serif;">Payment Gateway</h1>

<a class="btn btn-outline-light btn-lg" routerLink="/contact" role="button"
><h6>GET
 A PROPOSAL</h6></a
>
          </div>
        </div>
      </div>
      <div class="custom-shape-divider-bottom-1674631657">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0
          1200 120" preserveAspectRatio="none">
          <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z"
            class="shape-fill"></path>
        </svg>
      </div>
    </div>
    <!-- Background image -->




    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md">
          <img src="/assets/images/payment gateway.avif" alt="" width="100%">
        </div>
        <div class="col-md mt-5">
          <p class="h3" style="font-family: 'Times New Roman', Times, serif;
            font-weight: 900;
            ">Payment Gateway Benefits:</p>

          <ul>
            <li class="text">Risk-free online transactions for your consumers</li>
          </ul>
          <ul>
            <li class="text">Dynamic system algorithms for the high level of
              security</li>
          </ul>
          <ul>
            <li class="text">Fraud detection and secure for online transactions</li>
          </ul>
          <ul>
            <li class="text">All visas and master card support gateway</li>
          </ul>
          <ul>
            <li class="text">Hassle-free operation of an online store</li>
          </ul>
        </div>
      </div>
    </div>

















    <div class="container">
      <div class="row ">
        <p class="text-dark display-3 text-center">Payment Gateway Steps</p>
        <div class="col mt-5">
          <div class="main-timeline">
            <div class="timeline">
              <a  class="timeline-content">
                <span class="timeline-year">01</span>

                <div class="content">
                  <p class="h4 text-dark"> Collect </p>
                  <P  class=" text-dark txt">The customer enters payment information, which can include credit card or PayPal credentials. </P>

                </div>
              </a>
            </div>
            <div class="timeline">
              <a  class="timeline-content">
                <span class="timeline-year">02</span>

                <div class="content">
                  <p class="h4  text-dark"> Verify </p>
                  <P class=" text-dark txt">Upon receiving the information, the payment gateway verifies if the issuing bank has funds available to cover the transaction. </P>
                </div>
              </a>
            </div>
            <div class="timeline">
              <a  class="timeline-content">
                <span class="timeline-year">03</span>

                <div class="content">
                  <p class="h4  text-dark"> Transfer </p>
                  <P class=" text-dark txt">The payment gateway sends encrypted payment information to prepare for transaction processing.  </P>
                </div>
              </a>
            </div>
            <div class="timeline">
              <a  class="timeline-content">
                <span class="timeline-year">04</span>

                <div class="content">
                  <p class="h4  text-dark"> Authorize </p>
                  <P class="text-dark txt">The card scheme approves and processes the transaction,<br> then the payment gateway sends the information to the seller to complete the transaction. </P>
                </div>
              </a>
            </div>
            <div class="timeline">
              <a  class="timeline-content">
                <span class="timeline-year">05</span>

                <div class="content">
                  <p class="h4  text-dark"> Complete </p>
                  <P class=" text-dark txt">The payment gateway sends the information from the customer’s issuing bank account to the seller’s bank account so that the seller can be paid. </P>
                </div>
              </a>
            </div>


          </div>
        </div>
      </div>
    </div>


  </body>
</html>
