<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
<!-- Background image -->
  <div
  class="p-5 text-center bg-image"
  style="
    background-image: url('/assets/images/seo\ 10.webp');
    height: 820px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100" >
      <div class="text-white">
        <div class="mt-5">
          <a class="btn btn-outline-light btn-lg mt-5" routerLink="/contact"  role="button"
        ><h5>GET
          A PROPOSAL</h5> </a
        >
        </div>
      </div>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1674638225">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>
</div><br><br><br>
<!-- Background image -->

    <div class="container mt-">
        <h1 class="text-center display-6 fw-bolder" style="font-family: 'Times New Roman', Times, serif;">INCREASE ORGANIC VISIBILITY</h1>
         <p class="text-center">
           <b class="h4  fw-bolder" style="font-family: 'Times New Roman', Times, serif;"> Search engine rankings play an important role if you want your business to get noticed by potential clients. Higher rankings are possible only through effective SEO (Search Engine Optimization). And that is where Anikaay Design comes into picture!</b>
         </p>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/images/SEO1.jpeg" alt="" height="70%" width="100%">
        </div>
        <div class="col-md mt-5">
          <h1 class=" note note-secondary text-center" style="font-family: 'Times New Roman', Times, serif;">Search Engine
            Optimization</h1>
          <p class="h4 mt-5  fw-bolder" style="font-family: 'Times New Roman', Times, serif;">Search engine rankings play an important role if you
            want your business to get noticed by potential
            clients. Higher rankings are possible only through effective SEO
            (Search Engine Optimization).
          </p>
        </div>
      </div>
    </div>

    <div class="container " id="home">
      <div class="row ">
        <div class="col-md ">
          <h1 class=" text-center note note-secondary mt-5" style="font-family: 'Times New Roman', Times, serif;">SEO Services</h1>
          <ul class="mt-5">
            <li style="font-family: 'Times New Roman', Times, serif;" class="h4 fw-bold">We are committed to delivering affordable SEO services by
              taking
              care of the deadlines provided to us.</li>
            <li style="font-family: 'Times New Roman', Times, serif;" class="h4 fw-bold">We dedicatedly engage and involve ourselves in the project up
              to
              its completion and even after that.</li>
            <li style="font-family: 'Times New Roman', Times, serif;" class="h4 fw-bold">Our dedicated SEO experts adopt optimization tactics according
              to the latest trends in the industry.</li>

          </ul>

        </div>
        <div class="col-md-6 ">
          <img src="/assets/images/SEO2.jpeg" alt="" height="70%"
            width="100%">
        </div>
      </div>
    </div>

    <div class="container ">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/images/SEO3.jpeg" alt="" height="100%" width="100%">
        </div>
        <div class="col-md">

          <p>
            <h3 class="note note-secondary fw-bold" style="font-family: 'Times New Roman', Times, serif;">Website Analysis</h3>
           <p class=" fw-bold h5"> An in-depth analysis of your website will enable us to provide you
            with honest reviews of the SEO practices adopted by you.</p>

            <h3 class="note note-secondary fw-bold" style="font-family: 'Times New Roman', Times, serif;">Keyword Analysis</h3>
            <p class=" fw-bold h5">Our research backed approach helps us to include business fetching
              keywords in your search terms and help reach the target audience
              effectively.</p>

            <h3 class="note note-secondary fw-bold" style="font-family: 'Times New Roman', Times, serif;">Competitor Analysis</h3>
            <p class=" fw-bold h5">Our qualified team adopts the latest strategy and through competitor
              analysis it becomes easy to understand the strategies adopted by
              your competitors and learn of threats that may hinder your growth.</p>
            <h3 class="note note-secondary fw-bold h5" style="font-family: 'Times New Roman', Times, serif;"> Increase Traffic</h3>
           <p class=" fw-bold h5"> Our combined efforts in SEO, Keyword Analysis and other analysis
            ensure authentic traffic is driven to your website.</p>

          </div>
        </div>
      </div>

      <div class="container mt-5 mb-5">

        <div class="row">
          <div class="col-md ">
            <p>
              <h3 class="note note-secondary fw-bolder" style="font-family: 'Times New Roman', Times, serif;">Grow Site Conversion</h3>
              <p class=" fw-bold h5">Our proven strategies are directed to boost your sales. We make
                sure that visitors stay on your website for a longer time and help
                him convert to a potential client.</p>

              <h3 class="note note-secondary fw-bolder" style="font-family: 'Times New Roman', Times, serif;">Improve website ranking</h3>

              <p class=" fw-bold h5">
                We know that your business means a lot to you and to help you rank
              higher in SERP we provide you with trusted and genuine services.
              </p>
              <h3 class="note note-secondary fw-bolder">Brand Awareness</h3>

              <p class=" fw-bold h5">We promote your business and create brand awareness in your target
                audience so that people are aware about your products and
                services.</p>

              <h3 class="note note-secondary fw-bolder"style="font-family: 'Times New Roman', Times, serif;">Reputation Management</h3>
              <p>
                We help you elevate your strengths by managing and protecting your
              reputation.
              </p>

              <h3 class="note note-secondary fw-bolder" style="font-family: 'Times New Roman', Times, serif;">SEO Consultation</h3>
              <p class=" fw-bold h5"> Identify Eearch Engine Optimization opportunities for your website
                with our consultancy services and keep up with the area of
                improvement.
  </p>
            </div>
            <div class="col-md-6">
              <img src="/assets/images/SEO4.jpeg" alt="" height="100%"
                width="100%">
            </div>
          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-md-6">
              <img src="/assets/images/SEO5.jpeg" alt="" height="100%"
                width="100%">
            </div>
            <div class="col-md mt-5">
              <h1 style="font-family: 'Times New Roman', Times, serif;">Why SEO is Important to Your Website?</h1>
              <p >
                <h3 class="note note-secondary fw-bolder" style="font-family: 'Times New Roman', Times, serif;">Improve ranking</h3>
              <p class=" fw-bold h5">
                Rule top positions in organic results and improve your site
                authority by optimizing your webpages for major search engines
                such as Google.
              </p>
                <h3 class="note note-secondary fw-bolder" style="font-family: 'Times New Roman', Times, serif;">Revamp user experience</h3>
                <p class=" fw-bold h5">
                  User experience is a significant ranking factor. Search engines
                prefer to rank websites with mobile-friendly designs and good
                integration of images.
                </p>
                <h3 class="note note-secondary fw-bolder" style="font-family: 'Times New Roman', Times, serif;">Major Search Engines</h3>
              <p class=" fw-bold h5">
                96% of Internet users begin their Web search through a major
                Search Engine (Google, Bing, Yahoo, AOL)
              </p>
                <h3 class="note note-secondary fw-bolder" style="font-family: 'Times New Roman', Times, serif;">Generate leads</h3>
                <p class=" fw-bold h5">
                  SEO comprises of on-site tweaks as well as off-site tactics that
                help potential customers find you. As a result, the approach
                leads to boost conversion rate.

                </p>
              </div>
            </div>


          </div>

          <div class="container  mb-5">
            <h3 class="text-center h1 text-dark font-weight-bold "><span style="color:rgb(0, 0, 0);text-shadow: 2px 2px 2px rgb(253, 253, 253);"><b>Why SEO is Important to Your Website?</b></span></h3>
            <div class="row mt-4 mb-5 ms-3">
                <div class="col-md ms-1 mt-5" *ngFor="let data of data">
                    <div class="card h-100" style="width:19rem;border: 2px solid darkolivegreen;box-shadow: 4px 4px 4px 4px rgb(96, 128, 96);">
                        <img src="{{data.img}}" class="card-img-top mt-3" alt="Sunset Over the Sea" height="150px" width="150px"/>
                        <div class="card-body">
                          <p class="card-text text-dark text-center fw-bolder h4" style="font-family: 'Times New Roman', Times, serif;">{{data.heading}}</p>
                          <p class="text-dark text-center fw-bold">{{data.txt}}</p>
                        </div>
                      </div>
                </div>
            </div>
          </div>




        </body>
      </html>
